body {
    background-color: #2A2A2A;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
  }

.title{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    top:15vh;
  }

.txt{
    position:absolute;
    font-size: 18px;
    top: 70vh;
    right: 0vh;
    width: 500px;
    height: 100px;
    color: rgb(244, 244, 244);
}

.white{
  text-decoration: none; 
  color: rgb(244, 244, 244);
}

.hover:hover {
  opacity: 1;
}

.item-fade {
  opacity: 0.4;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

@media (max-width:1000px ){

  .title{
    position: relative;
      z-index: -1;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      position: relative;
      top:15vh;
    }
  
  .txt{
      position:absolute;
      font-size:smaller;
      top: 280px;
      right: 0px;
      width:fit-content;
      height:fit-content;
      color: aliceblue;
  }

}

@media (max-width:600px ){

  .title{
    position: relative;
      z-index: -1;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      position: relative;
      top:15vh;
    }
  
  .txt{
      position:absolute;
      font-size:smaller;
      top: 280px;
      left: 0px;
      width:fit-content;
      height:fit-content;
      color: aliceblue;
  }

}