body {
  background-color: #2A2A2A;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: monospace;
  font-size: 18px;
}


.me{
  font-family: "Montserrat", sans-serif;
  color:aliceblue; 
  font-size: small;
}



.image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.container #scene .layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container #scene .layers img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  object-fit: cover;
}

.profile{
  position: fixed;
  right: 0; 
  padding-top: 70vh;
}

.art1{
  position: fixed;
  top: 90vh;
}

.hover:hover {
  opacity: 1;
}

.item-fade {
  opacity: 0.4;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}