@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.head{
  position: sticky;
  top: 0;
  padding-top: 2vh;
  padding-right: 6vh;
  text-align: right;
}

.navMenu { 
  position: relative;
  font-family: "Montserrat", sans-serif;
  }
  
  .logo{
    position: absolute;
    left: 5%;
  
  }
  
  .items{
    position: absolute;
    right: 0;
  }

  .items a{
    text-align: center;
  }

  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #fddb3a;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(0px);
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    transform: translateX(40px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    transform: translateX(125px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    transform: translateX(210px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
