body {
    background-color: #2A2A2A;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: monospace;
    font-size: 18px;

  }

.title{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative;
    top: 15vh;
    pointer-events: none;
  }

.itm1{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 40vh;
    padding-bottom: 20vh;
}


.category{
  position: relative;
  
}


@media (max-width:600px ){

  .title{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative;
    top: 10vh;
    pointer-events: none;
  }

.itm1{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    top: 16vh;
    padding-bottom: 20vh;
}

}

/* == Hover Effect == */

.category {
  position: relative;
  top:60vh;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  color: #ffffff44;
  font-family: system-ui, sans-serif;
}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #fddc3a52;
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  font-size: 5rem;
}