body {
    background-color: #2A2A2A;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: monospace;
    font-size: 18px;

  }

.title{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative;
    top: 15vh;
    pointer-events: none;
  }

.itm1{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 40vh;
    padding-bottom: 20vh;
}

@media (max-width:600px ){

  .title{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative;
    top: 10vh;
    pointer-events: none;
  }

.itm1{
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    top: 16vh;
    padding-bottom: 20vh;
}

}